* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
.image-generator {
  width: 650px;
  background-color: rgb(39, 44, 44);
  padding: 10px 14px;
  margin: 80px 0;
  text-align: center;
}
.image-generator header {
  font-size: 32px;
  font-weight: 700;
}

.ai-input input {
  width: 85%;
  margin: 22px 0;
  padding: 10px 14px;
  background-color: #fff;
  color: #0f0e0e;
  caret-color: black;
  line-height: 4px;
  border: none;
  outline: none;
}
.btn {
  background-color: rgb(3, 190, 50);
  color: #fff;
  padding: 10px 16px;
}
.ai-output {
  margin: 20px 0;
}
.ai-output img {
  width: 480px;
  height: 320px;
}
@media (max-width: 480px) {
  .image-generator {
    width: 350px;
    background-color: rgb(39, 44, 44);
    padding: 10px 14px;
    margin: 150px 0;
    text-align: center;
  }
  .image-generator header {
    font-size: 28px;
    font-weight: 700;
  }

  .ai-input input {
    width: 45%;
    margin: 22px 0;
    padding: 10px 14px;
    background-color: #fff;
    color: #0f0e0e;
    caret-color: black;
    line-height: 4px;
    border: none;
    outline: none;
  }
  .btn {
    background-color: rgb(3, 190, 50);
    color: #fff;
    padding: 10px 16px;
  }
  .ai-output {
    margin: 20px 0;
  }
  .ai-output img {
    width: 280px;
    height: 180px;
  }
}
@media (max-width: 768px) {
  .image-generator {
    width: 580px;
    background-color: rgb(39, 44, 44);
    padding: 10px 14px;
    margin: 150px 0;
    text-align: center;
  }
  .image-generator header {
    font-size: 28px;
    font-weight: 700;
  }

  .ai-input input {
    width: 75%;
    margin: 22px 0;
    padding: 10px 14px;
    background-color: #fff;
    color: #0f0e0e;
    caret-color: black;
    line-height: 4px;
    border: none;
    outline: none;
  }
  .btn {
    background-color: rgb(3, 190, 50);
    color: #fff;
    padding: 10px 16px;
  }
  .ai-output {
    margin: 20px 0;
  }
  .ai-output img {
    width: 380px;
    height: 280px;
  }
}
